<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Question10_jsp_collaboration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentLogout</servlet-name>
    <servlet-class>StudentLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogout</servlet-name>
    <url-pattern>/StudentLogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IntermediateUpdateStaff</servlet-name>
    <servlet-class>IntermediateUpdateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntermediateUpdateStaff</servlet-name>
    <url-pattern>/IntermediateUpdateStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStaff</servlet-name>
    <servlet-class>UpdateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaff</servlet-name>
    <url-pattern>/UpdateStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Staff</servlet-name>
    <servlet-class>Staff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff</servlet-name>
    <url-pattern>/Staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAttendance</servlet-name>
    <servlet-class>UpdateAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendance</servlet-name>
    <url-pattern>/UpdateAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStaff</servlet-name>
    <servlet-class>AddStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaff</servlet-name>
    <url-pattern>/AddStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClassOfStudents</servlet-name>
    <servlet-class>AddClassOfStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassOfStudents</servlet-name>
    <url-pattern>/AddClassOfStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOneStudent</servlet-name>
    <servlet-class>AddOneStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOneStudent</servlet-name>
    <url-pattern>/AddOneStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
</web-app>